doctype html
html.h-100(lang="en")
  head
    script(src='https://kit.fontawesome.com/e9f236eedb.js')
    title= Title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      a.navbar-brand(href="/") Chat
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/")
    .container.flex-grow-1
      #chat.h-100
      // block content
    script(src='/assets/main.js')
