doctype html
html.h-100(lang="en")
  head
    script(src='https://kit.fontawesome.com/e9f236eedb.js')
    title= Title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/")
    #chat.container.flex-grow-1.position-relative
      // block content
    script(src='/assets/main.js')
